<h2>Отправить подтверждение инструкции</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "alert alert-danger", role: "alert" %>

  <div class="form-group">
    <%= f.label 'E-mail:' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Отправить", class: 'btn btn-primary' %>
  </div>
  <div>&nbsp;</div>
<% end %>

<%= render "devise/shared/links" %>
