<%= form_with(model: @user, local: true, multipart: true) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user}, class: "alert alert-danger", role: "alert" %>

  <div class="form-group">
    <%= f.label 'Имя:' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'E-mail:' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Вернуться', user_path, class: 'btn btn-success' %>
  </div>
<% end %>
