<h1>Изменить пароль</h1>
<div>&nbsp;</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource, class: "alert alert-danger", role: "alert" %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label 'Пароль:', "Новый пароль" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> символов минимум)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Повторите пароль', "Повторите пароль" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Изменить пароль", class: 'btn btn-primary' %>
        </div>
        <div>&nbsp;</div>
      <% end %>

    </div>
  </div>
</div>


